* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: #000;
  background-color: #008F3F;
  font-family: 'Open Sans', sans-serif;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 10px 20px 10px 20px;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo p {
  margin-top: 5px;
  font-weight: bold;
  letter-spacing: 7px;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.quote-box {
  display: flex;
  height: 300px;
  width: 600px;
  background-color: #fff;
  border-radius: 5px;
}

.footer {
  display: flex;
  padding: 10px 20px 10px 20px;
  justify-content: flex-end;
}