* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  color: white;
  background-color: #008F3F;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  color: #fff;
  padding: 10px;

  background-color: blue;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  background-color: green;
  flex: 1;
}

.footer { 
  background-color: black;
}