/**
* GLOBAL STYLES
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #EDEAF1;
  color: #485E74;
  line-height: 1.6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

a {
  text-decoration: none;
  color: #4E337B;
}

ul {
  list-style: none;
  padding: 0;
}

.fa {
  font-size: 1.3em !important;
}

.purple {
  color: #4E337B;
}

.lightgrey {
  color: #E3E3E4;
}

.container {
  max-width: 360px;
  background: #FFF;
  margin-right: auto;
  margin-left: auto;
}

/**
* CONTROLS
*/

.controls {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.controls > li {
  padding: 1em;
  cursor: pointer;
}

.active-button {
  background-color: #4E337B;
  color: #FFF;
}

/**
* CHANNELS
*/

.channels > li {
  display: grid;
  grid-template-columns: 60px auto 30px;
  grid-template-rows: 60px;
  padding: 0.25em 1em 0.25em 1em;
}

.channels > li > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.channel-info {
  display: flex;
  flex-direction: column;
  padding-left: 0.75em;
}

.channel-info .name {
  align-self: flex-start;
}

.channel-info .description {
  align-self: flex-start;
  font-size: 0.6em;
}

#online-channels {
  display: none;
}

#offline-channels {
  display: none;
}